<h2>Who&rsquo;s behind this, anyway?</h2>

<p>instalover.com was built for Rails Rumble 2010 during a Scotch-soaked weekend in downtown Boston by Mike Burns, Emma Lindsay, Chad Mazzola, and Jason Morrison.</p>

<p>If you like this site, make sure to <a href="http://rumbl.in/g/jason-morrison-s-little-death">vote for us</a>!</p>