<h2>instalover is easy to use. Just text these commands to <a href="sms:+18572390085">8572390085</a>:</h2>

<ul>
  <li><span>new date</span> &mdash; request a new date</li>
  <li><span>ok</span> &mdash; confirm time and place for your date</li>
  <li><span>accept</span> &mdash; accept a date request</li>
  <li><span>say [your message]</span> &mdash; send a text to your date </li>
  <li><span>safeword</span> &mdash; cancel your account</li>
</ul>