<h2>instalover is an instant blind date service for interesting people in Boston, Brookline, Cambridge, Somerville and surrounding areas.</h2>

<ol>
  <li><a href="/">Give us your phone number</a> and we&rsquo;ll text you a secret code to confirm your identity.</li>
  <li>Use this code to complete your membership. You&rsquo;ll tell us a little bit about yourself and who you&rsquo;d like to meet.</li>
  <li>When you want a date, send a text message saying &ldquo;<span>new date</span>&rdquo; to <a href="sms:+18572390085">857 239 0085</a>.</li>
  <li>Within <span>5 minutes</span>, we&rsquo;ll send you a text back, telling you when and where to meet your date.</li>
  <li>[This part is up to you. Make us proud.]</li>
  <li>After your rendezvous, we&rsquo;ll ask you how your date went. We&rsquo;ll share the best stories on our <a href="http://twitter.com/instalover">twitter feed</a>. (Your identity will be kept secret.)</li>
</ol>