<h2>instalover is an instant blind dating service for interesting people in Boston, Brookline, Cambridge, and Somerville.</h2>

<ol>
  <li><a href="/">Give us your phone number</a> and we&rsquo;ll text you a secret code to confirm your identity.</li>
  <li>Use this code to complete your membership. You&rsquo;ll tell us a little bit about yourself and who you&rsquo;d like to meet.</li>
  <li>When you want a date, send a text message to <span>342354</span>.</li>
  <li>Within <span>5 minutes</span>, we&rsquo;ll send you a text back, telling you where to meet your blind date.</li>
  <li>[This part is up to you. Make us proud.]</li>
  <li>After your rendezvous, we&rsquo;ll ask you a few questions about your date. If we like what you wrote, we&rsquo;ll anonymously share it on our twitter feed.</li>
</ol>