<div id="container">
  <h2>how to use</h2>

  <ol>
    <li>When you want to meet someone, send a text message to <span>342354</span>.</li>
    <li>Within <span>5 minutes</span>, we'll send you a text back, telling you where to meet your instalover.</li>
    <li>[This part is up to you. Make us proud.]</li>
    <li>After your rendezvous, we'll ask you a few questions about your date. If we like what you wrote, we'll anonymously share it on our twitter feed.</li>
  </ol>
</div>