<h2>Terms of service</h2>

<ul>
  <li>instalover is a service that allows people who would like to meet each other to do so.</li>
  <li>By using the service, you agree that you are the owner of the phone number you provide and are at least 18-years-old.</li>
  <li>You agree to be notified of new date opportunities from people who match the criteria you chose in your profile.</li>
  <li>We will only use your phone number to notify you of new dates. It won't be shared with anyone else for any reason.</li>
  <li>Please don't be creepy.</li>
  <li>You agree to be polite to everyone you meet through the service, unless they didn't follow the rule above, in which case you should let us know all about it.</li>
</ul>