<h2>Congratulations, you are now an instalover.</h2>

<ol>
  <li>When you want a date, send a text message saying &ldquo;<span>new date</span>&rdquo; to <a href="sms:+18572390085">857 239 0085</a>.</li>
  <li>Within <span>5 minutes</span>, we&rsquo;ll send you a text back, telling you when and where to meet your date.</li>
  <li>[This part is up to you. Make us proud.]</li>
  <li>After your rendezvous, we&rsquo;ll ask you about your date. If we like what you wrote, we&rsquo;ll anonymously share it on our <a href="http://twitter.com/instalover">twitter feed</a>.</li>
</ol>